@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif, Arial;
  color: var(--primary-color);
}


:root {
  --primary-color: #17153B;
  --secondary-color: #2E236C;
  --text-color: #433D8B;
  --section-bg: #C8ACD6;
  --Footer-bg: #e9e4eb;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.section-bg {
  background-color: var(--section-bg);
}

.text-color {
  color: var(--text-color);
}

.singup-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.953), #ffffffda),
    url(../public/favicon.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Remove increment and decrement arrows (spinners) in Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.my-custom-swal {
  z-index: 10000 !important;
  /* Ensure the SweetAlert popup stays on top */
}

.modal{
  z-index: 0;
}



#NavItem a.active {
  background-color: unset;
  color: #6A9C89;
  font-weight: 800;
}